<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <welcome-file-list>
    <welcome-file>login</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjouterTournoi</display-name>
    <servlet-name>AjouterTournoi</servlet-name>
    <servlet-class>com.mycompany.servlets.AjouterTournoi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterTournoi</servlet-name>
    <url-pattern>/AjouterTournoi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListeTournois</display-name>
    <servlet-name>ListeTournois</servlet-name>
    <servlet-class>com.mycompany.servlets.ListeTournois</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeTournois</servlet-name>
    <url-pattern>/ListeTournois</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierTournoi</display-name>
    <servlet-name>ModifierTournoi</servlet-name>
    <servlet-class>com.mycompany.servlets.ModifierTournoi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierTournoi</servlet-name>
    <url-pattern>/ModifierTournoi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerTournoi</display-name>
    <servlet-name>SupprimerTournoi</servlet-name>
    <servlet-class>com.mycompany.servlets.SupprimerTournoi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerTournoi</servlet-name>
    <url-pattern>/SupprimerTournoi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercheMatchs</display-name>
    <servlet-name>RechercheMatchs</servlet-name>
    <servlet-class>com.mycompany.servlets.RechercheMatchs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercheMatchs</servlet-name>
    <url-pattern>/RechercheMatchs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listeMatchs</display-name>
    <servlet-name>listeMatchs</servlet-name>
    <servlet-class>com.mycompany.servlets.listeMatchs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listeMatchs</servlet-name>
    <url-pattern>/listeMatchs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RechercheEpreuves</display-name>
    <servlet-name>RechercheEpreuves</servlet-name>
    <servlet-class>com.mycompany.servlets.RechercheEpreuves</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RechercheEpreuves</servlet-name>
    <url-pattern>/RechercheEpreuves</url-pattern>
  </servlet-mapping>
</web-app>